@{
    ViewData["Title"] = "Home Page";
    bool CheckeoLogin = ViewBag.Logeado;
}
    <form action="/Home/Index" method="post">
        <div class="text-center">

            @if (!CheckeoLogin)
            {
                <input type="button" value="Logout" class="btn btn-danger"
                       style="display:none" />
            }
            else
            {
                <input type="submit" value="Logout" class="btn btn-danger" />

            }

        </div>
        </form>