@{
    Layout = "_LayoutEnBlanco";
}


<script type="text/javascript">
    $(document).ready(function () {
        $("#myModal").modal('show');
    });
</script>

 
<link rel="stylesheet" type="text/css" href="~/css/animate.css" id="animaciones" />
<form action="/usuario/crear" method="post">
       <div class="myModal fade animated rollIn" tabindex="-1" role="dialog" onclose="window.onclose">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Crear Cuenta</h5>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="location.href='@Url.Action("Login", "Usuario")'">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" id="nombreUsuario" name="nombreUsuario">

                        <br />
                        <br />

                        <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" id="password" name="password">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Crear</button>
                        <button type="reset" class="btn btn-secondary" data-dismiss="modal" name="btnCrear" onclick="">Limpiar</button>
                    </div>

                </div>
            </div>
        </div>
    
</form>